
.container  {
  height: 200px;
  width: 100%;
  background-color: black;
  margin: 50;
 
  
  
}

.label-container {

  display: flex;
  justify-content: center;
  align-items: center;
}


.label  {
  color:black;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  
}