
.container  {
  height: 50px;
  width: 100%;
  background-color: white;
  margin: 50;
  
  
  
}

.label-container {

  display: flex;
  justify-content: center;
  align-items: center;
}


.label  {
  color:black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  
}